.flex-container {
    display: flex;
}


/*body {
    margin: 10px 10px;
}*/

.box {
    background-image: url(images/racetrack.jpg);
    border: white;
    width: 100%;
    height: 100px;
    background-size: cover;
}

#redBox {
    background-image: url(images/racehorsemv.jpg);
    background-size: cover;
    background-position: center;
}

#blueBox {
    background-image: url(images/racehorsemv.jpg);
    background-size: cover;
    background-position: center;
}

#start-menu {
    background-image: url(images/racehorsecover.jpg);
    background-size: cover;
    height: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    margin: 0 auto;
    display: block;
    color: white;
    background-color: black;
    font-size: 20px;
    text-transform: uppercase;
    font-family: sans-serif;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

button:hover {
    background-color: lightgreen;
}

.hidden {
    display: none !important;
}

.red-track .box {
    background-color: pink;
}

.trophy {
    background-image: url(images/trophy.jpg);
    background-size: 200px 200px;
    background-repeat: no-repeat;
    height: 500px;
    margin-left: 1200px;
}


/*//1 Find Starter Menu Image. Use this for the background image of your start-menu div
2. Create "Start" button. Hide Game by default. When you click the start button,
hide the STart MEnu and show the Game.*/
